.photo-card__like {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-disabled.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.2s;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.photo-card__like:hover {
  opacity: 0.5;
}
