.form__item {
  border: 0;
  width: 358px;
  height: 27px;
  box-sizing: border-box;
  padding: 0 0 13px 0;
  border-bottom: 1px solid #000000;
  opacity: 0.2;
  background-color: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  outline: none;
}

.form__item:last-of-type {
  margin-bottom: 0;
}
