.popup-post__container {
  background-color: #ffffff;
  width: 430px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

@media screen and (max-width: 490px) {
  .popup-post__container {
    width: 282px;
  }
}
