.user-profile__add-button {
  background-image: url(../../../images/add-button.svg);
  background-size: cover;
  background-color: transparent;
  border: 0;
  height: 50px;
  width: 150px;
  padding: 0;
  transition: all 0.3s;
  cursor: pointer;
}

.user-profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 490px) {
  .user-profile__add-button {
    background-image: url(../../../images/add-button-big.svg);
    height: 50px;
    width: 282px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
