.photo-grid__invisible-like {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.photo-grid__invisible-like:disabled + .photo-grid__visible-like {
  background-image: url(../../../images/like-disabled.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.photo-grid__invisible-like:checked + .photo-grid__visible-like {
  background-image: url(../../../images/like-active.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.photo-grid__invisible-like:focus + .photo-grid__visible-like {
  background-image: url(../../../images/like-hover.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
