.photo-grid__elements {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-auto-rows: minmax(361px, auto);
  gap: 20px 17px;
  justify-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
