.photo-grid__like {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 19px;
  margin: 30px 20px 0 0;
  background-image: url(../../../images/like-disabled.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.2s;
}

.photo-grid__like:hover {
  opacity: 0.5;
}

.photo-grid__like:active {
  background-image: url(../../../images/like-active.png);
}
