.popup__close-button {
  background-image: url(../../../images/сlose-icon.svg);
  width: 32px;
  height: 32px;
  align-self: flex-end;
  position: relative;
  top: -40px;
  right: -40px;
  transition: all 0.3s;
}

.popup__close-button:hover {
  background-image: url(../../../images/close-icon-hover.svg);
}
