.user-profile__name-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 490px) {
  .user-profile__name-info-container {
    align-items: center;
    margin-bottom: 32px;
  }
}
